body,p,ul,li,ol {
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    -webkit-padding-start:0;
    padding:0;
    marigin:0;
}
.container {
    width:980px;
    margin:0 auto;
}
#m-board {
    border:1px dashed #A6A6A6;
    cursor:none;
}
#fork-me {
	position: absolute;
	top:0;
	right:0;
}
/**
 * Widgets UI
 */
.m-button-groups {
    margin-bottom: 5px;
    position: relative;
}
.m-color-selector, .m-tool-selector, .m-size-selector, .m-button {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
    padding: 3px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    margin-right: 5px;
    vertical-align: middle;
    float: left;
}
.m-size-selector {
    display: table;
}
.m-color-selector div {
    height: 100%;
}
.m-tool-selector div {
    padding-left: 5px;
}
.m-size-selector > div {
    display: table-cell;
    vertical-align: middle;
}
.m-color-selector:hover, .m-tool-selector:hover, .m-size-selector:hover, .m-button:hover {
    background-color: #E6E6E6;
}
.m-color {
    width: 25px;
    height: 15px;
    margin: 3px;
}
.m-tool {
    width: 22px;
    height: 17px;
    margin: 3px;
    padding-left: 5px;
}
.m-size {
    border-radius: 50%;
    margin: 0 auto;
}
ul.m-color-list, ul.m-tool-list, ul.m-size-list {
    display: none;
    list-style: none;
    position: absolute;
    top: -22px;
}
ul.m-tool-list {
    left: 38px;
}
ul.m-size-list {
    left: 76px;
}
ul.m-color-list li, ul.m-tool-list li {
    display: inline-block;
    cursor: pointer;
}
ul.m-size-list li {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    width: 28px;
    height: 22px;
    padding: 0 3px 0 2px;
}
ul.m-color-list li:hover, ul.m-tool-list li:hover, ul.m-size-list li:hover {
    background-color: #E6E6E6;
}
.m-button span {
    position: relative;
}
.m-button .m-undo {
    left: 3px;
}
.m-button .m-redo {
    left: 5px;
}
.m-button .m-replay {
    bottom: 1px;
    left: 5px;
}
.m-button .m-reset {
    bottom: 2px;
    left: 4px;
}
