p,ul,li,ol {
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    -webkit-padding-start:0;
    padding:0;
    marigin:0;
}
.container {
    width:980px;
    margin:0 auto;
}
#my-svg {
    border: 1px solid black;
    cursor:none;
}

#color-selector ul {
    list-style:none;
}
#color-selector ul li {
    width:50px;
    height:20px;
    margin:5px 0;
    display:inline-block;
}
#size-selector ul, #tool-kit ul {
	list-style:none;
	display:table;
}
#size-selector ul li {
	width:40px;
	height:40px;
	display:table-cell;
	vertical-align:middle;
	border: 1px solid #FFFFFF;
}
#size-selector ul li.selected, #size-selector ul li:hover,
#tool-kit ul li.selected, #tool-kit ul li:hover
{
	border: 1px solid #999999;
}
#tool-kit ul li {
	padding:10px;
	margin:5px 10px 0 0;
	display:inline-block;
	border: 1px solid #FFFFFF;
}
#tool-kit ul li img {
	margin:0 auto;
}
.paint-size {
	border-radius: 50%;
	margin:0 auto;
}
#paint-color {
    width:100px;
    height:20px;
    margin:0 10px 0 0;
    vertical-align:middle;
    display:inline-block;
}
#fork-me {
	position: absolute;
	top:0;
	right:0;
	border:0;
}
